/* Header */
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: #ffffffe8;
}

.header--inner-group {
  height: clamp(3rem, 2rem + 3.333vw, 4rem);
  align-content: center;
}

.wp-block-site-logo {
  padding-left: var(--wp--custom--gap);
  max-width: 48%;
}

.page-title-block-cover {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  min-height: clamp(11.25rem, 8.75rem + 8.333vw, 13.75rem);

  .wp-block-cover__inner-container {
    position: initial;
  }

  h1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
