/* Header */
header {
  padding-left: var(--wp--custom--gap);
  padding-right: var(--wp--custom--gap);
}

.header--inner-group {
  height: clamp(3rem, 2rem + 3.333vw, 4rem);
}

.wp-block-site-logo {
  max-width: 48%;
}
