/* Homepage Styles */
.home-main-visual-contact-button {
  position: relative;

  .wp-block-button__link {
    height: clamp(3.75rem, 2.5rem + 4.167vw, 5rem); // 60px to 80px
    width: clamp(15rem, 11.25rem + 12.5vw, 18.75rem); // 240px to 300px
    padding-left: clamp(1rem, 3.333vw, 2rem);
    position: absolute;
    top: calc(
      clamp(1.875rem, 1.25rem + 2.083vw, 2.5rem) * -1
    ); // -30px to -40px
    right: 0;
    z-index: 1;

    &::after {
      right: clamp(1rem, 3.333vw, 2rem);
    }
  }
}

/* ホームページのメインビジュアルの下 */
@media screen and (min-width: 782px) {
  .homepage-under-main-visual {
    .wp-block-columns {
      column-gap: clamp(1rem, -12.18rem + 26.966vw, 4rem);
    }

    .wp-block-column:first-child {
      border-right: 1px solid var(--wp--preset--color--background);
    }
  }
}

/* ホームページの事業のご案内 */
.homepage-business-block-links {
  > .wp-block-column {
    display: flex;
    flex-direction: column;

    > a {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .wp-block-group {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .has-text-align-right {
        margin-right: 0 !important;
      }
    }
  }
}
