/* ボタン */
.wp-block-button {
  &__link {
    position: relative;
    transition: background-color var(--wp--custom--transition--duration, 0.3s)
      var(--wp--custom--transition--timing-function, ease);

    &:hover {
      &::after {
        right: 0.75rem;
      }
    }

    &::after {
      content: "";
      display: block;
      background-image: url("../images/icon-angle-right-white.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 1em;
      height: 1em;
      position: absolute;
      right: 1rem;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: right 0.1s
        var(--wp--custom--transition--timing-function, ease);
    }
  }
}

/* ボタンのスタイル */
.wp-block-button:not(.is-style-outline) {
  .wp-block-button__link {
    &:hover {
      background-color: var(--wp--preset--color--secondary);
    }
  }
}

/* ボタンのアウトラインスタイル */
.wp-block-button.is-style-outline {
  .wp-block-button__link {
    &:hover {
      background-color: var(--wp--preset--color--secondary) !important;
    }

    &::after {
      content: "";
      background-image: url("../images/icon-angle-right.svg");
    }
  }
}
